*
{
  font-family: "Roboto";
}

a
{
  text-decoration: none;
}

ul
{
  padding: 0;
  list-style: none;
}

/* Colors */

/* https: //colorhunt.co/palette/0c356a0174beffc436fff0ce */
:root
{
  --dark-blue: #145DA0;
  --blue: #1082FC;
  --gray: #F2F6F6;
}

.bg-main
{
  color: #fff;
  background-color: var(--dark-blue);
  box-shadow: none;
}

.bg-gray
{
  background-color: var(--gray);
}

.bg-blue
{
  background-color: var(--blue);
}

.btn-blue
{
  border: 2px solid var(--blue);
  color: var(--blue);
}

.btn-blue:hover
{
  color: #fff;
  background-color: var(--blue);
}


/**********************************************
                    Icons 
**********************************************/

.icon__stet
{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 3.125rem 0 3.125rem;
  background-image: url(../public/img/stethoscope@2x.png);
  background-repeat: no-repeat;
}

.icon__brain
{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 3.125rem 0 3.125rem;
  background-image: url(../public/img/neurology@2x.png);
  background-repeat: no-repeat;
}

.icon__onco {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 3.125rem 0 3.125rem;
  background-image: url(../public/img/medical_sample@2x.png);
  background-repeat: no-repeat;
}

.icon__kidney {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 3.125rem 0 3.125rem;
  background-image: url(../public/img/kidneys@2x.png);
  background-repeat: no-repeat;
}

.icon__lungs {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 3.125rem 0 3.125rem;
  background-image: url(../public/img/lungs@2x.png);
  background-repeat: no-repeat;
}

/**********************************************
                    Navbar 
**********************************************/

.nav-link
{
  font-weight: 700;
}

.banner
{
  height: 724px;
  background-image: url(img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.btn-hero
{
  margin-left: 200px;
}

/**********************************************
                    Home 
**********************************************/

/* .services
{
  margin: 10rem 0;
}

.services__card
{
  width: 11.625rem;
  height: 12.25rem;
  margin: 0 4rem;
  border: 1px solid #E6E6E6;
  background-color: var(--dark-blue);
}

.services__box2
{
  width: 31.25rem;
  height: 25rem;
  background-color: #FF8A65;
}

.services__heading
{
  padding: 1rem;
  text-align: center;
  color: #fff;
}
*/

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
}

.services__icon
{
  display: block;
  margin: 0 auto;
  filter: invert(44%) sepia(58%) saturate(5679%) hue-rotate(199deg) brightness(103%) contrast(98%);
}

.services__link
{
  font-weight: 500;
}

.card-w
{
  /* width: 18rem; */
}

.appointmenthome
{
  width: 100%;
  height: 20.625rem;
  /* color: #fff; */
  /* background-color: #1082FC; */
}

.appointmenthome__btn
{
  margin: 0 auto;
}

/**********************************************
                    Doctor List 
**********************************************/
/* .doctor__info:hover
{
  color: #fff;
  background-color: var(--blue);
} */


/**********************************************
                    Login 
**********************************************/
.login
{
  -webkit-box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.75);
}

.login i
{
  font-size: 7rem;
  color: var(--dark-blue);
}

/**********************************************
                    Footer 
**********************************************/

.footer__list-link
{
  color: #fff;
  text-decoration: none;
}

/**********************************************
                    Appointment 
**********************************************/

.appt__header
{
  padding-top: 1.563rem;
  text-align: center;
}